span.menu_item_label,
ul#menu_items a {
	color: white !important;
}
div.c-virtual_list__scroll_container,
div#footer_msgs,
div.channel_header,
div#menu_member_dm_input,
div#col_flex div,
div#client_body::before,
div.viewer {
	background-color: black !important;
}
input,
select,
textarea,
div.c-scrollbar__hider,
div#threads_msgs_scroller_div {
	background-color: black !important;
	color: white !important;
}
div.c-message_list__day_divider__label__pill,
div#msg_input,
div.c-message--hover,
button.c-message_actions__button,
div.monkey_scroll_wrapper,
div#menu,
div.menu_member_header,
div.menu_member_header p,
div#fs_modal_footer,
div#fs_modal_header,
div.global_notification_block,
button.btn_basic:hover,
header.fs_modal_file_viewer_header {
	color: white !important;
	background-color: #101010 !important;
}
pre.c-mrkdwn__pre {
	background-color: #0a0a0a !important;
	color: white !important;
}
button.c-message_actions__button:hover,
div.modal,
div.modal-footer {
	background-color: #0a0a0a !important;
}
button#primary_file_button,
div.tab_complete_ui,
div.tab_complete_ui_header,
div.c-menu,
div.c-menu div,
div.c-menu div h3,
div.c-menu div input,
div.ReactModal__Content div,
div.ReactModal__Content footer {
	background-color: #101010 !important;
}
button.p-emoji_picker__group_tab--active,
section.slack_menu_download {
	background-color: #222222 !important;
}
button.c-button,
button.btn_outline {
	background: #222222 !important;
	color: white !important;
}
span.c-message__body {
	color: #AAA;
}
a.c-message__sender_link,
button#edit_topic_trigger,
.blue_on_hover:hover,
.search_input_wrapper,
button.c-deprecated_button--link,
button.sidebar_menu_list_item.is_active:hover {
	color: #95ff00 !important;
}
div.c-message_list__unread_divider--ghost, {
	background: #95ff00 !important;
}
::selection {
	background-color: #95ff00 !important;
	color: black !important;
}
hr.c-message_list__unread_divider__separator {
	border-color: #95ff00 !important;
}
button.sidebar_menu_list_item.is_active {
	background-color: #95ff00;
	border-color: #95ff00 !important;
	color: black !important;
}
span.c-message_list__unread_divider__label,
a.c-member_slug,
span.c-member_slug {
	background: #101010 !important;
	color: #95ff00 !important;
}
div.c-scrollbar__hider::before,
span#channel_topic_text,
div.ql-editor,
div.p-degraded_list__loading,
div#fs_modal,
input#im_browser_filter {
	background: black !important;
}
div.ql-placeholder {
	color:white !important;
}
span#edit_topic_inner::before {
	background: black !important;
	border-color: #333 !important;
}
div.c-message_actions__container {
	border-color: rgba(0,0,0,0.3);
	background: #101010;
}
button.p-emoji_picker__group_tab:hover {
	background-color: #333 !important;
}
div#col_flex div.heading_row,
div.p-custom_status_input__empty_emoji {
	background-color: transparent !important;
	background: transparent !important;
}
